@media (min-width: 43rem) {
    .chat-app{
        flex-direction: row;
        margin-inline: auto;
    }
    .background-right{
        display: block;
        
    }
    .chat-app__write-up{
        margin-inline-start: 6rem;
        text-align: left;
    }
}
@media (min-width: 64rem){
    .background-left{
        width: 40rem;
        
    }

    .background-left,
    .background-right{
        height: 80%;
    }

    .chat-app__write-up{
        margin-inline-start: 10rem;
        text-align: left;
    }
    .chat-app__write-up{
        max-width: 45rem;
    }
}