/* Fonts */
@font-face {
    font-family: rubik-regular;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(Fonts/rubik-v31-latin-regular.woff2);
}
@font-face {
    font-family: rubik-medium;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(Fonts/rubik-v31-latin-500.woff2);
}
@font-face {
    font-family: rubik-bold;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(Fonts/rubik-v31-latin-700.woff2);
}
/* reset */
html{
    font-size: 62.5%;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
picture,
img,
video{
    max-width: 100%;
    height: 100%;
    display: block;
}
/* custom Variables */
:root{
    --Pink-500: hsl(293, 100%, 63%);
    --Purple-500: hsl(264, 100%, 61%);
    --White: hsl(0, 100%, 100%);
    --Gray-app-background: hsl(270, 20%, 96%);
    --Gray-left-background: hsl(270, 20%, 91%);
    --Purple-submit-button-background: hsl(271, 36%, 24%);
    --Pink-radio-button-outline: hsl(289, 100%, 72%);
    --Purple-300-sub-heading: hsl(276, 100%, 81%);
    --Purple-600-chat-left: hsl(276, 55%, 52%);
    --Gray-500-chat-right: hsl(270, 7%, 64%);
    --Gray-300-placeholder: hsl(206, 6%, 79%);
    --Purple-950-main-heading: hsl(271, 36%, 24%);
    --chat-box-shadow:rgba(0, 0, 0, 0.118);
    --phone-box-shadow:rgba(34, 21, 53, 0.262);
}
/* background */
.background-left, 
.background-right{
    position: absolute;
    z-index: -1;
    width: 27rem;
    height: 47rem;
    background: linear-gradient(to top right, var(--Purple-500), var(--Pink-500));
}
.background-left{
    left: -5rem;
    top: 0;
    border-radius: 0 0 20rem 20rem;
}
.background-right{
    bottom: 0;
    right: 0;
    opacity: 0.09;
    border-radius: 20rem 0 0 0;
    display: none;

}

/* chat-app */
body{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-block-size: 100svh;
    min-block-size: 100vh;                      /*Fall-back*/
    font-family: 'Rubik-regular', sans-serif;
}

/* whole phone */
.chat-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 5rem;
    max-width: 200rem;
}
.chat-app__phone{
    background: var(--Gray-app-background);
    width: 25rem;
    border: .9rem solid var(--White);
    border-radius: 2.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 14px 40px -2px var(--phone-box-shadow);
}

/* notch */
.phone__notch{
    align-self: center;
    background: var(--White);
    position: absolute;
    width: 13rem;
    height: 2rem;
    border-radius: 0 0 1.5rem 1.5rem;
    margin-block-start: -.1rem;
}


/*nav-bar */
.phone__nav{
    background: linear-gradient(to top right, var(--Purple-500), var(--Pink-500));
    max-width: 50rem;
    height: 7rem;
    border-radius: 2rem 2rem .7rem .7rem;
    display: flex;
    align-items: center;
    padding-inline: 1.5rem;
    color: var(--White);
}


.arrow{
    height: .7rem;
    width: .7rem;
    border-top: .25rem solid var(--White);
    border-left: .25rem solid var(--White);
    transform: rotate(-45deg);
    margin-inline-end: .5rem;
}

/* profile and bio */
.profile-img{
    width: 2.5rem;
    height: 2.5rem;
    border: .1rem solid var(--White);
    border-radius: 2rem;
}
.phone__bio{
    align-items: center;
    display: flex;
    margin-block-start: 1rem;
}
.profile__name{
    font-size: .75rem;
    margin-inline-start: .8rem;
    letter-spacing: .08rem;
    
}
.profile__name p{
    color: var(--Purple-300-sub-heading);
    letter-spacing: normal;
    
}
/* three dots */
.phone__three-dots{
    margin-inline-start: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-block-start: 1.3rem;
}
.dot{
    background: var(--White);
    border-radius: 4rem;
    margin-block-end: .1rem ;
    border: .17rem solid var(--White);
}

/* chats section */
.chat-app__chats{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

/* whole chat */
.chat{
    background: var(--Gray-left-background);
    font-size: .87rem;
    display: flex;
    max-width: 14rem;
    padding: .7rem 1rem;
    margin-block-end: .8rem;
}
.chats__left{
    border-radius: 1rem 1rem 1rem .3rem;
    color: var(--Purple-600-chat-left);
}
.chats__right{
    color: var(--Gray-500-chat-right);
    background: var(--White);
    border-radius: 1rem 1rem .3rem 1rem;
    box-shadow: 2px 3px 10px -2px var(--chat-box-shadow);
    margin-inline-start: auto;
}

/* dogs img */
.dog-img{
    gap: .7rem;
    display: flex;
    background: none;
    max-width: 15rem;
    margin-block-end: .2rem;
    box-shadow: none;
}
.dogs{
    width: 4.2rem;
    border-radius: 1rem;
}
/* coloured chat */
.coloured-chat{
    background: linear-gradient(to top right, var(--Purple-500), var(--Pink-500));
    color: var(--White);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .7rem;
    padding-block: 1rem;
}
.charge-time{
    display: flex;
    align-items: center;
}
.circle{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 10rem;
    border: 1px solid var(--White);
    margin-inline-end: .5rem;
}
/* input text */
.chat-app__send-text{
    max-width: 40rem;
    padding: .4rem 1rem;
    background: var(--White);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    margin-block-start: .6rem;
}
.input-text{
    border: none;
    font-size: 1rem;
    padding-inline: .5rem;
    color: var(--Gray-300-placeholder);
}
/* send btn */
.send-text__btn{
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background: var(--Purple-submit-button-background);
    margin-inline-start: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.send-btn{
    width: .8rem;
    height: .8rem;
    border-top: .33rem solid var(--White);
    border-left: .33rem solid var(--White);
    transform: rotate(135deg);
}
/* about page */
.chat-app__write-up{
    max-width: 40rem;
    color: var(--Gray-500-chat-right);
    text-align: center;
    margin-inline: 3rem;
    margin-block-start: 7rem;
    line-height: 2.8rem;
}
.chat-app__write-up h1{
    font-family: 'Rubik-medium', sans-serif;
    color: var(--Purple-950-main-heading);
    font-size: 4rem;
    margin-block-end: 3rem;
}